<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer Example</title>
    <!-- Ajout du CDN de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ajout du CDN de FontAwesome pour les icônes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

<!-- Footer -->
<footer class="bg-dark text-white mt-5 ">
    <div class="container py-4">
        <div class="row">
            <!-- Réseaux sociaux -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold">Suivez-nous</h6>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="linkedin"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Contacts -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <i class="fa fa-phone mr-2"></i>
                        +1 234 567 89
                    </li>
                    <li class="mb-3">
                        <i class="fa fa-envelope mr-2"></i>
                        example@gmail.com
                    </li>
                </ul>
            </div>
            <!-- Horaires -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold">Horaires</h6>
                <ul class="list-unstyled">
                    <li class="mb-3">Lundi - Vendredi: 9am - 5pm</li>
                    <li class="mb-3">Samedi: 10am - 2pm</li>
                    <li class="mb-3">Dimanche: Fermé</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- Ajout du CDN de Bootstrap JS et de FontAwesome -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
