
<div class="container">
  <h1>Bienvenue chez Garage V.Parrot, votre partenaire de confiance !</h1>

  <div class="row">
    <div class="col-6">
        <figure class="figure">
            <img  class="w-50 logo" src="{{ asset('images/jpeg/presentationGP.jpeg') }}" alt="Description">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div>
    <div class="col-6">
        <p>Le Garage V. Parrot n'est pas qu'un simple garage, c'est une passion pour
            l'automobile transformée en un lieu dédié à la performance et la sécurité
            de votre véhicule. Fondé en 2021 à Toulouse par Vincent Parrot,
            un professionnel doté de plus de 15 années d'expérience dans la réparation automobile,
            notre garage est le fruit d'une expertise et d'un savoir-faire inégalés.</p>
    </div>

  </div>
</div>

